USE [master]
GO
/****** Object:  Database [school_management]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE DATABASE [school_management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'school_management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\school_management.mdf' , SIZE = 77568KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'school_management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\school_management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [school_management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [school_management]
GO
/****** Object:  Table [dbo].[Academic_years]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Academic_years](
	[Academic_year_id] [int] IDENTITY(1,1) NOT NULL,
	[Year_Name] [nvarchar](20) NOT NULL,
	[Start_date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
 CONSTRAINT [PK_Academic_years] PRIMARY KEY CLUSTERED 
(
	[Academic_year_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Academic_year_Year_name] UNIQUE NONCLUSTERED 
(
	[Year_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activity_log]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity_log](
	[Activity_log_id] [int] IDENTITY(1,1) NOT NULL,
	[User_id] [int] NOT NULL,
	[Action] [nvarchar](100) NULL,
	[Table_name] [nvarchar](100) NULL,
	[Record_id] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Activity_log] PRIMARY KEY CLUSTERED 
(
	[Activity_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[Announcement_id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[createAt] [datetime2](7) NOT NULL,
	[isPublished] [bit] NOT NULL,
 CONSTRAINT [PK_Announcements] PRIMARY KEY CLUSTERED 
(
	[Announcement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[Asset_id] [int] IDENTITY(1,1) NOT NULL,
	[Asset_name] [nvarchar](150) NOT NULL,
	[Asset_Category] [nvarchar](50) NOT NULL,
	[Purchase_Date] [date] NULL,
	[Purchase_price] [decimal](12, 2) NULL,
	[Quantity] [int] NOT NULL,
	[Condition] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_Assets] PRIMARY KEY CLUSTERED 
(
	[Asset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[Attendance_id] [int] IDENTITY(1,1) NOT NULL,
	[Attendance_Date] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Check_inTime] [time](7) NULL,
	[Check_outTime] [time](7) NULL,
	[Enrollment_id] [int] NOT NULL,
 CONSTRAINT [PK_Attendance] PRIMARY KEY CLUSTERED 
(
	[Attendance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Attendance] UNIQUE NONCLUSTERED 
(
	[Enrollment_id] ASC,
	[Attendance_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_group]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [auth_group_name_a6ea08ec_uniq] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_group_permissions]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_permission]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[content_type_id] [int] NOT NULL,
	[codename] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [nvarchar](128) NOT NULL,
	[last_login] [datetimeoffset](7) NULL,
	[is_superuser] [bit] NOT NULL,
	[username] [nvarchar](150) NOT NULL,
	[first_name] [nvarchar](150) NOT NULL,
	[last_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[is_staff] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[date_joined] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [auth_user_username_6821ab7c_uniq] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_groups]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_groups](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[group_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_user_permissions]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_user_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class_rooms]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class_rooms](
	[Class_room_id] [int] IDENTITY(1,1) NOT NULL,
	[Room_name] [nvarchar](50) NOT NULL,
	[Capacity] [int] NULL,
 CONSTRAINT [PK_Class_rooms] PRIMARY KEY CLUSTERED 
(
	[Class_room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Class_rooms_Room_name] UNIQUE NONCLUSTERED 
(
	[Room_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class_Schedules]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class_Schedules](
	[Schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[Class_id] [int] NOT NULL,
	[Subject_id] [int] NOT NULL,
	[Teacher_id] [int] NOT NULL,
	[Classroom_id] [int] NULL,
	[Day_of_Week] [nvarchar](15) NOT NULL,
	[Start_time] [time](7) NOT NULL,
	[End_time] [time](7) NOT NULL,
	[Academic_year_id] [int] NOT NULL,
 CONSTRAINT [PK_Class_Schedules] PRIMARY KEY CLUSTERED 
(
	[Schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Class_schedules] UNIQUE NONCLUSTERED 
(
	[Class_id] ASC,
	[Subject_id] ASC,
	[Teacher_id] ASC,
	[Classroom_id] ASC,
	[Academic_year_id] ASC,
	[Day_of_Week] ASC,
	[Start_time] ASC,
	[End_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class_Subjects]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class_Subjects](
	[Class_subject_id] [int] IDENTITY(1,1) NOT NULL,
	[Class_id] [int] NOT NULL,
	[Subject_id] [int] NOT NULL,
	[Academic_year_id] [int] NOT NULL,
 CONSTRAINT [PK_Class_Subject] PRIMARY KEY CLUSTERED 
(
	[Class_subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_class_subjects] UNIQUE NONCLUSTERED 
(
	[Class_id] ASC,
	[Subject_id] ASC,
	[Academic_year_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Class_id] [int] IDENTITY(1,1) NOT NULL,
	[Class_name] [nvarchar](50) NOT NULL,
	[Grade_level] [int] NOT NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[Class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Classes_Grade_level_class_name] UNIQUE NONCLUSTERED 
(
	[Grade_level] ASC,
	[Class_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_admin_log]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_admin_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_time] [datetimeoffset](7) NOT NULL,
	[object_id] [nvarchar](max) NULL,
	[object_repr] [nvarchar](200) NOT NULL,
	[action_flag] [smallint] NOT NULL,
	[change_message] [nvarchar](max) NOT NULL,
	[content_type_id] [int] NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_content_type]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_content_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[app_label] [nvarchar](100) NOT NULL,
	[model] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_migrations]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_migrations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[app] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[applied] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_session]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_session](
	[session_key] [nvarchar](40) NOT NULL,
	[session_data] [nvarchar](max) NOT NULL,
	[expire_date] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emergency_contacts]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emergency_contacts](
	[Emergency_contact_id] [int] IDENTITY(1,1) NOT NULL,
	[Student_id] [int] NOT NULL,
	[First_name] [nvarchar](50) NOT NULL,
	[Last_name] [nvarchar](50) NOT NULL,
	[Relationship] [nvarchar](30) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Emergency_contact] PRIMARY KEY CLUSTERED 
(
	[Emergency_contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[Enrollment_id] [int] IDENTITY(1,1) NOT NULL,
	[Student_id] [int] NOT NULL,
	[Class_id] [int] NOT NULL,
	[Academic_year_id] [int] NOT NULL,
	[Enrollment_date] [date] NOT NULL,
 CONSTRAINT [PK_Enrollments] PRIMARY KEY CLUSTERED 
(
	[Enrollment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Enrollments] UNIQUE NONCLUSTERED 
(
	[Student_id] ASC,
	[Academic_year_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[Exam_id] [int] IDENTITY(1,1) NOT NULL,
	[Exam_name] [nvarchar](100) NOT NULL,
	[Exam_type] [nvarchar](30) NOT NULL,
	[Academic_year_id] [int] NOT NULL,
	[Exam_date] [date] NOT NULL,
	[class_id] [int] NOT NULL,
 CONSTRAINT [PK_Exams] PRIMARY KEY CLUSTERED 
(
	[Exam_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams_Results]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams_Results](
	[Exam_result_id] [int] IDENTITY(1,1) NOT NULL,
	[Exam_id] [int] NOT NULL,
	[Student_id] [int] NOT NULL,
	[Subject_id] [int] NOT NULL,
	[Score] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_Exams_Results] PRIMARY KEY CLUSTERED 
(
	[Exam_result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Exam_results] UNIQUE NONCLUSTERED 
(
	[Exam_id] ASC,
	[Student_id] ASC,
	[Subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[Expenses_id] [int] IDENTITY(1,1) NOT NULL,
	[Expenses_title] [nvarchar](150) NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_Expenses] PRIMARY KEY CLUSTERED 
(
	[Expenses_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fees]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fees](
	[Fee_id] [int] IDENTITY(1,1) NOT NULL,
	[Student_id] [int] NOT NULL,
	[Academic_year_id] [int] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Fee_Month] [tinyint] NOT NULL,
	[feeType] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Fees] PRIMARY KEY CLUSTERED 
(
	[Fee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Fees] UNIQUE NONCLUSTERED 
(
	[Student_id] ASC,
	[Academic_year_id] ASC,
	[Fee_Month] ASC,
	[feeType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fees_payments]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fees_payments](
	[Payment_id] [int] IDENTITY(1,1) NOT NULL,
	[fee_id] [int] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[Payment_date] [date] NOT NULL,
	[payment_method] [nvarchar](30) NOT NULL,
	[Reference_Number] [nvarchar](100) NULL,
 CONSTRAINT [PK_feePayments] PRIMARY KEY CLUSTERED 
(
	[Payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification_recipients]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification_recipients](
	[Notification_recipient_id] [int] IDENTITY(1,1) NOT NULL,
	[Notification_id] [int] NOT NULL,
	[parent_id] [int] NULL,
	[User_id] [int] NULL,
	[IsRead] [bit] NOT NULL,
	[ReadAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Notification_recipients] PRIMARY KEY CLUSTERED 
(
	[Notification_recipient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Notification_id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[NotificationType] [nvarchar](30) NOT NULL,
	[Created_At] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[Notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parents]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parents](
	[Parent_id] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [nvarchar](50) NOT NULL,
	[Last_name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](250) NULL,
 CONSTRAINT [PK_Parents] PRIMARY KEY CLUSTERED 
(
	[Parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salaries]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salaries](
	[Salary_id] [int] IDENTITY(1,1) NOT NULL,
	[Teacher_id] [int] NOT NULL,
	[Salary_month] [int] NOT NULL,
	[Salary_year] [int] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[Payment_status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Salaries] PRIMARY KEY CLUSTERED 
(
	[Salary_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Salaries_TeacherMonthYear] UNIQUE NONCLUSTERED 
(
	[Teacher_id] ASC,
	[Salary_month] ASC,
	[Salary_year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Staff_id] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [nvarchar](50) NOT NULL,
	[Last_name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Position] [nvarchar](100) NOT NULL,
	[National_id] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Stuff] PRIMARY KEY CLUSTERED 
(
	[Staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Staff_National_id] UNIQUE NONCLUSTERED 
(
	[National_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_parents]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_parents](
	[Student_parent_id] [int] IDENTITY(1,1) NOT NULL,
	[Student_id] [int] NOT NULL,
	[Parent_id] [int] NOT NULL,
	[Relationship] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Student_parents] PRIMARY KEY CLUSTERED 
(
	[Student_parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Student_Parents] UNIQUE NONCLUSTERED 
(
	[Student_id] ASC,
	[Parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Student_id] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [nvarchar](50) NOT NULL,
	[Last_name] [nvarchar](50) NOT NULL,
	[Date_of_birth] [date] NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Admission_date] [date] NOT NULL,
	[Address] [nvarchar](250) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Subject_id] [int] IDENTITY(1,1) NOT NULL,
	[Subject_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[Subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Subjects_Subject_name] UNIQUE NONCLUSTERED 
(
	[Subject_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher_Classes]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher_Classes](
	[Teacher_Class_id] [int] IDENTITY(1,1) NOT NULL,
	[Teacher_id] [int] NOT NULL,
	[Class_id] [int] NOT NULL,
	[Academic_year_id] [int] NOT NULL,
 CONSTRAINT [PK_Teacher_Classes] PRIMARY KEY CLUSTERED 
(
	[Teacher_Class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Teacher_Classes] UNIQUE NONCLUSTERED 
(
	[Class_id] ASC,
	[Academic_year_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher_Subjects]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher_Subjects](
	[TeacherSubject_id] [int] IDENTITY(1,1) NOT NULL,
	[Teacher_id] [int] NOT NULL,
	[Subject_id] [int] NOT NULL,
	[Academic_year_id] [int] NOT NULL,
 CONSTRAINT [PK_Teacher_Subjects] PRIMARY KEY CLUSTERED 
(
	[TeacherSubject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Teacher_Subjects] UNIQUE NONCLUSTERED 
(
	[Teacher_id] ASC,
	[Subject_id] ASC,
	[Academic_year_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Teacher_id] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [nvarchar](50) NOT NULL,
	[Last_name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Hire_date] [date] NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[Teacher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/27/2026 8:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_id] [int] IDENTITY(1,1) NOT NULL,
	[User_name] [nvarchar](50) NOT NULL,
	[Password_Hash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[First_name] [nvarchar](50) NOT NULL,
	[Last_name] [nvarchar](50) NOT NULL,
	[teacher_id] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_User_name] UNIQUE NONCLUSTERED 
(
	[User_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_group_id_b120cbf9]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE NONCLUSTERED INDEX [auth_group_permissions_group_id_b120cbf9] ON [dbo].[auth_group_permissions]
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_group_id_permission_id_0cd325b0_uniq]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_group_permissions_group_id_permission_id_0cd325b0_uniq] ON [dbo].[auth_group_permissions]
(
	[group_id] ASC,
	[permission_id] ASC
)
WHERE ([group_id] IS NOT NULL AND [permission_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_permission_id_84c5c92e]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE NONCLUSTERED INDEX [auth_group_permissions_permission_id_84c5c92e] ON [dbo].[auth_group_permissions]
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_permission_content_type_id_2f476e4b]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE NONCLUSTERED INDEX [auth_permission_content_type_id_2f476e4b] ON [dbo].[auth_permission]
(
	[content_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_permission_content_type_id_codename_01ab375a_uniq]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_permission_content_type_id_codename_01ab375a_uniq] ON [dbo].[auth_permission]
(
	[content_type_id] ASC,
	[codename] ASC
)
WHERE ([content_type_id] IS NOT NULL AND [codename] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_groups_group_id_97559544]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE NONCLUSTERED INDEX [auth_user_groups_group_id_97559544] ON [dbo].[auth_user_groups]
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_groups_user_id_6a12ed8b]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE NONCLUSTERED INDEX [auth_user_groups_user_id_6a12ed8b] ON [dbo].[auth_user_groups]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_groups_user_id_group_id_94350c0c_uniq]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_user_groups_user_id_group_id_94350c0c_uniq] ON [dbo].[auth_user_groups]
(
	[user_id] ASC,
	[group_id] ASC
)
WHERE ([user_id] IS NOT NULL AND [group_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_user_permissions_permission_id_1fbb5f2c]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE NONCLUSTERED INDEX [auth_user_user_permissions_permission_id_1fbb5f2c] ON [dbo].[auth_user_user_permissions]
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_user_permissions_user_id_a95ead1b]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE NONCLUSTERED INDEX [auth_user_user_permissions_user_id_a95ead1b] ON [dbo].[auth_user_user_permissions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_user_permissions_user_id_permission_id_14a6b632_uniq]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_user_user_permissions_user_id_permission_id_14a6b632_uniq] ON [dbo].[auth_user_user_permissions]
(
	[user_id] ASC,
	[permission_id] ASC
)
WHERE ([user_id] IS NOT NULL AND [permission_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_admin_log_content_type_id_c4bce8eb]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE NONCLUSTERED INDEX [django_admin_log_content_type_id_c4bce8eb] ON [dbo].[django_admin_log]
(
	[content_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_admin_log_user_id_c564eba6]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE NONCLUSTERED INDEX [django_admin_log_user_id_c564eba6] ON [dbo].[django_admin_log]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [django_content_type_app_label_model_76bd3d3b_uniq]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [django_content_type_app_label_model_76bd3d3b_uniq] ON [dbo].[django_content_type]
(
	[app_label] ASC,
	[model] ASC
)
WHERE ([app_label] IS NOT NULL AND [model] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_session_expire_date_a5c62663]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE NONCLUSTERED INDEX [django_session_expire_date_a5c62663] ON [dbo].[django_session]
(
	[expire_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Exams_Final]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Exams_Final] ON [dbo].[Exams]
(
	[class_id] ASC,
	[Academic_year_id] ASC
)
WHERE ([Exam_type]=N'Final')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Exams_Midterm]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Exams_Midterm] ON [dbo].[Exams]
(
	[class_id] ASC,
	[Academic_year_id] ASC
)
WHERE ([Exam_type]=N'Midterm')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Notification_Recipents_Parents]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Notification_Recipents_Parents] ON [dbo].[Notification_recipients]
(
	[Notification_id] ASC,
	[parent_id] ASC
)
WHERE ([parent_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Notification_Recipents_User]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Notification_Recipents_User] ON [dbo].[Notification_recipients]
(
	[Notification_id] ASC,
	[User_id] ASC
)
WHERE ([User_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Users_Teacher]    Script Date: 9/27/2026 8:52:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Users_Teacher] ON [dbo].[Users]
(
	[teacher_id] ASC
)
WHERE ([Teacher_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Activity_log] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Announcements] ADD  DEFAULT (sysdatetime()) FOR [createAt]
GO
ALTER TABLE [dbo].[Announcements] ADD  DEFAULT ((0)) FOR [isPublished]
GO
ALTER TABLE [dbo].[Assets] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Fees] ADD  CONSTRAINT [DF_Fees_FeeType]  DEFAULT (N'Tuition') FOR [feeType]
GO
ALTER TABLE [dbo].[Notification_recipients] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (sysdatetime()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [Df_Salaries_PaymentStatus]  DEFAULT (N'Unpaid') FOR [Payment_status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Activity_log]  WITH CHECK ADD  CONSTRAINT [FK_Activity_log_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Activity_log] CHECK CONSTRAINT [FK_Activity_log_Users]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Enrollments] FOREIGN KEY([Enrollment_id])
REFERENCES [dbo].[Enrollments] ([Enrollment_id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Enrollments]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_permission]  WITH CHECK ADD  CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[auth_permission] CHECK CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH CHECK ADD  CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH CHECK ADD  CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH CHECK ADD  CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH CHECK ADD  CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[Class_Schedules]  WITH CHECK ADD  CONSTRAINT [FK_class_Schedules_Academic_years] FOREIGN KEY([Academic_year_id])
REFERENCES [dbo].[Academic_years] ([Academic_year_id])
GO
ALTER TABLE [dbo].[Class_Schedules] CHECK CONSTRAINT [FK_class_Schedules_Academic_years]
GO
ALTER TABLE [dbo].[Class_Schedules]  WITH CHECK ADD  CONSTRAINT [FK_class_Schedules_Class_rooms] FOREIGN KEY([Classroom_id])
REFERENCES [dbo].[Class_rooms] ([Class_room_id])
GO
ALTER TABLE [dbo].[Class_Schedules] CHECK CONSTRAINT [FK_class_Schedules_Class_rooms]
GO
ALTER TABLE [dbo].[Class_Schedules]  WITH CHECK ADD  CONSTRAINT [FK_class_Schedules_Classes] FOREIGN KEY([Class_id])
REFERENCES [dbo].[Classes] ([Class_id])
GO
ALTER TABLE [dbo].[Class_Schedules] CHECK CONSTRAINT [FK_class_Schedules_Classes]
GO
ALTER TABLE [dbo].[Class_Schedules]  WITH CHECK ADD  CONSTRAINT [FK_class_Schedules_Subjects] FOREIGN KEY([Subject_id])
REFERENCES [dbo].[Subjects] ([Subject_id])
GO
ALTER TABLE [dbo].[Class_Schedules] CHECK CONSTRAINT [FK_class_Schedules_Subjects]
GO
ALTER TABLE [dbo].[Class_Schedules]  WITH CHECK ADD  CONSTRAINT [FK_class_Schedules_Teachers] FOREIGN KEY([Teacher_id])
REFERENCES [dbo].[Teachers] ([Teacher_id])
GO
ALTER TABLE [dbo].[Class_Schedules] CHECK CONSTRAINT [FK_class_Schedules_Teachers]
GO
ALTER TABLE [dbo].[Class_Schedules]  WITH CHECK ADD  CONSTRAINT [FK_ClassSchedules_ClassSubjects] FOREIGN KEY([Class_id], [Subject_id], [Academic_year_id])
REFERENCES [dbo].[Class_Subjects] ([Class_id], [Subject_id], [Academic_year_id])
GO
ALTER TABLE [dbo].[Class_Schedules] CHECK CONSTRAINT [FK_ClassSchedules_ClassSubjects]
GO
ALTER TABLE [dbo].[Class_Schedules]  WITH CHECK ADD  CONSTRAINT [FK_ClassSchedules_TeacherSubjects] FOREIGN KEY([Teacher_id], [Subject_id], [Academic_year_id])
REFERENCES [dbo].[Teacher_Subjects] ([Teacher_id], [Subject_id], [Academic_year_id])
GO
ALTER TABLE [dbo].[Class_Schedules] CHECK CONSTRAINT [FK_ClassSchedules_TeacherSubjects]
GO
ALTER TABLE [dbo].[Class_Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Class_Subjects_Academic_years] FOREIGN KEY([Academic_year_id])
REFERENCES [dbo].[Academic_years] ([Academic_year_id])
GO
ALTER TABLE [dbo].[Class_Subjects] CHECK CONSTRAINT [FK_Class_Subjects_Academic_years]
GO
ALTER TABLE [dbo].[Class_Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Class_Subjects_Classes] FOREIGN KEY([Class_id])
REFERENCES [dbo].[Classes] ([Class_id])
GO
ALTER TABLE [dbo].[Class_Subjects] CHECK CONSTRAINT [FK_Class_Subjects_Classes]
GO
ALTER TABLE [dbo].[Class_Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Class_Subjects_Subjects] FOREIGN KEY([Subject_id])
REFERENCES [dbo].[Subjects] ([Subject_id])
GO
ALTER TABLE [dbo].[Class_Subjects] CHECK CONSTRAINT [FK_Class_Subjects_Subjects]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id]
GO
ALTER TABLE [dbo].[Emergency_contacts]  WITH CHECK ADD  CONSTRAINT [FK_Emergency_contacts_Students] FOREIGN KEY([Student_id])
REFERENCES [dbo].[Students] ([Student_id])
GO
ALTER TABLE [dbo].[Emergency_contacts] CHECK CONSTRAINT [FK_Emergency_contacts_Students]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Academic_years] FOREIGN KEY([Academic_year_id])
REFERENCES [dbo].[Academic_years] ([Academic_year_id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Academic_years]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Classes] FOREIGN KEY([Class_id])
REFERENCES [dbo].[Classes] ([Class_id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Classes]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Students1] FOREIGN KEY([Student_id])
REFERENCES [dbo].[Students] ([Student_id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Students1]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Academic_years] FOREIGN KEY([Academic_year_id])
REFERENCES [dbo].[Academic_years] ([Academic_year_id])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Academic_years]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Classes] FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([Class_id])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Classes]
GO
ALTER TABLE [dbo].[Exams_Results]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Results_Exams] FOREIGN KEY([Exam_id])
REFERENCES [dbo].[Exams] ([Exam_id])
GO
ALTER TABLE [dbo].[Exams_Results] CHECK CONSTRAINT [FK_Exams_Results_Exams]
GO
ALTER TABLE [dbo].[Exams_Results]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Results_Students] FOREIGN KEY([Student_id])
REFERENCES [dbo].[Students] ([Student_id])
GO
ALTER TABLE [dbo].[Exams_Results] CHECK CONSTRAINT [FK_Exams_Results_Students]
GO
ALTER TABLE [dbo].[Exams_Results]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Results_Subjects] FOREIGN KEY([Subject_id])
REFERENCES [dbo].[Subjects] ([Subject_id])
GO
ALTER TABLE [dbo].[Exams_Results] CHECK CONSTRAINT [FK_Exams_Results_Subjects]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [FK_Fees_Academic_years] FOREIGN KEY([Academic_year_id])
REFERENCES [dbo].[Academic_years] ([Academic_year_id])
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [FK_Fees_Academic_years]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [FK_Fees_Students] FOREIGN KEY([Student_id])
REFERENCES [dbo].[Students] ([Student_id])
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [FK_Fees_Students]
GO
ALTER TABLE [dbo].[Fees_payments]  WITH CHECK ADD  CONSTRAINT [FK_Fees_payments_Fees] FOREIGN KEY([fee_id])
REFERENCES [dbo].[Fees] ([Fee_id])
GO
ALTER TABLE [dbo].[Fees_payments] CHECK CONSTRAINT [FK_Fees_payments_Fees]
GO
ALTER TABLE [dbo].[Notification_recipients]  WITH CHECK ADD  CONSTRAINT [FK_Notification_recipients_Notifications] FOREIGN KEY([Notification_id])
REFERENCES [dbo].[Notifications] ([Notification_id])
GO
ALTER TABLE [dbo].[Notification_recipients] CHECK CONSTRAINT [FK_Notification_recipients_Notifications]
GO
ALTER TABLE [dbo].[Notification_recipients]  WITH CHECK ADD  CONSTRAINT [FK_Notification_recipients_Parents] FOREIGN KEY([parent_id])
REFERENCES [dbo].[Parents] ([Parent_id])
GO
ALTER TABLE [dbo].[Notification_recipients] CHECK CONSTRAINT [FK_Notification_recipients_Parents]
GO
ALTER TABLE [dbo].[Notification_recipients]  WITH CHECK ADD  CONSTRAINT [FK_Notification_recipients_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Notification_recipients] CHECK CONSTRAINT [FK_Notification_recipients_Users]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [FK_Salaries_Teachers] FOREIGN KEY([Teacher_id])
REFERENCES [dbo].[Teachers] ([Teacher_id])
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [FK_Salaries_Teachers]
GO
ALTER TABLE [dbo].[Student_parents]  WITH CHECK ADD  CONSTRAINT [FK_Student_parents_Parents] FOREIGN KEY([Parent_id])
REFERENCES [dbo].[Parents] ([Parent_id])
GO
ALTER TABLE [dbo].[Student_parents] CHECK CONSTRAINT [FK_Student_parents_Parents]
GO
ALTER TABLE [dbo].[Student_parents]  WITH CHECK ADD  CONSTRAINT [FK_Student_parents_Students] FOREIGN KEY([Student_id])
REFERENCES [dbo].[Students] ([Student_id])
GO
ALTER TABLE [dbo].[Student_parents] CHECK CONSTRAINT [FK_Student_parents_Students]
GO
ALTER TABLE [dbo].[Teacher_Classes]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Classes_Academic_years] FOREIGN KEY([Academic_year_id])
REFERENCES [dbo].[Academic_years] ([Academic_year_id])
GO
ALTER TABLE [dbo].[Teacher_Classes] CHECK CONSTRAINT [FK_Teacher_Classes_Academic_years]
GO
ALTER TABLE [dbo].[Teacher_Classes]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Classes_Classes] FOREIGN KEY([Class_id])
REFERENCES [dbo].[Classes] ([Class_id])
GO
ALTER TABLE [dbo].[Teacher_Classes] CHECK CONSTRAINT [FK_Teacher_Classes_Classes]
GO
ALTER TABLE [dbo].[Teacher_Classes]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Classes_Teachers] FOREIGN KEY([Teacher_id])
REFERENCES [dbo].[Teachers] ([Teacher_id])
GO
ALTER TABLE [dbo].[Teacher_Classes] CHECK CONSTRAINT [FK_Teacher_Classes_Teachers]
GO
ALTER TABLE [dbo].[Teacher_Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Subjects_Academic_years] FOREIGN KEY([Academic_year_id])
REFERENCES [dbo].[Academic_years] ([Academic_year_id])
GO
ALTER TABLE [dbo].[Teacher_Subjects] CHECK CONSTRAINT [FK_Teacher_Subjects_Academic_years]
GO
ALTER TABLE [dbo].[Teacher_Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Subjects_Subjects] FOREIGN KEY([Subject_id])
REFERENCES [dbo].[Subjects] ([Subject_id])
GO
ALTER TABLE [dbo].[Teacher_Subjects] CHECK CONSTRAINT [FK_Teacher_Subjects_Subjects]
GO
ALTER TABLE [dbo].[Teacher_Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Subjects_Teachers] FOREIGN KEY([Teacher_id])
REFERENCES [dbo].[Teachers] ([Teacher_id])
GO
ALTER TABLE [dbo].[Teacher_Subjects] CHECK CONSTRAINT [FK_Teacher_Subjects_Teachers]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Teachers] FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Teachers] ([Teacher_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Teachers]
GO
ALTER TABLE [dbo].[Academic_years]  WITH CHECK ADD  CONSTRAINT [CK_Academic_year_Dates] CHECK  (([End_date]>[Start_Date]))
GO
ALTER TABLE [dbo].[Academic_years] CHECK CONSTRAINT [CK_Academic_year_Dates]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [CK_Assests_Purchase_price] CHECK  (([Purchase_price] IS NULL OR [Purchase_price]>=(0)))
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [CK_Assests_Purchase_price]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [CK_Assests_Quantitiy] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [CK_Assests_Quantitiy]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [CK_Assets_Condition] CHECK  (([Condition]=N'Damaged' OR [Condition]=N'NeedsRepair' OR [Condition]=N'Good' OR [Condition]=N'New'))
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [CK_Assets_Condition]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [CK_Attendance_Status] CHECK  (([Status]=N'Late' OR [Status]=N'Absent' OR [Status]=N'Present'))
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [CK_Attendance_Status]
GO
ALTER TABLE [dbo].[Class_rooms]  WITH CHECK ADD  CONSTRAINT [CK_Classrooms_Capacity] CHECK  (([Capacity] IS NULL OR [Capacity]>(0)))
GO
ALTER TABLE [dbo].[Class_rooms] CHECK CONSTRAINT [CK_Classrooms_Capacity]
GO
ALTER TABLE [dbo].[Class_Schedules]  WITH CHECK ADD  CONSTRAINT [CK_Class_Schedules_Time] CHECK  (([End_Time]>[Start_Time]))
GO
ALTER TABLE [dbo].[Class_Schedules] CHECK CONSTRAINT [CK_Class_Schedules_Time]
GO
ALTER TABLE [dbo].[Class_Schedules]  WITH CHECK ADD  CONSTRAINT [CK_ClassSchedules_Day] CHECK  (([Day_of_week]=N'Friday' OR [Day_of_week]=N'Thursday' OR [Day_of_week]=N'Wednesday' OR [Day_of_week]=N'Tuesday' OR [Day_of_week]=N'Monday' OR [Day_of_week]=N'Sunday' OR [Day_of_week]=N'Saturday'))
GO
ALTER TABLE [dbo].[Class_Schedules] CHECK CONSTRAINT [CK_ClassSchedules_Day]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [CK_Classes_Gradelevel] CHECK  (([Grade_level]>=(1) AND [Grade_level]<=(12)))
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [CK_Classes_Gradelevel]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_action_flag_a8637d59_check] CHECK  (([action_flag]>=(0)))
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_action_flag_a8637d59_check]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [Exam_type] CHECK  (([Exam_type]=N'Other' OR [Exam_type]=N'Quiz' OR [Exam_type]=N'Midterm' OR [Exam_type]=N'Final'))
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [Exam_type]
GO
ALTER TABLE [dbo].[Exams_Results]  WITH CHECK ADD  CONSTRAINT [CK_Exam_resluts_Score] CHECK  (([Score]>=(0) AND [Score]<=(100)))
GO
ALTER TABLE [dbo].[Exams_Results] CHECK CONSTRAINT [CK_Exam_resluts_Score]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [CK_Expenses_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [CK_Expenses_Amount]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [CK_Fees_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [CK_Fees_Amount]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [CK_Fees_FeeMonth] CHECK  (([Fee_Month]>=(1) AND [Fee_Month]<=(12)))
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [CK_Fees_FeeMonth]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [CK_Fees_FeeType] CHECK  (([feeType]=N'Oter' OR [feeType]=N'Transport' OR [feeType]=N'Tuition'))
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [CK_Fees_FeeType]
GO
ALTER TABLE [dbo].[Fees_payments]  WITH CHECK ADD  CONSTRAINT [CK_feePayment_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Fees_payments] CHECK CONSTRAINT [CK_feePayment_Amount]
GO
ALTER TABLE [dbo].[Fees_payments]  WITH CHECK ADD  CONSTRAINT [CK_feePayment_method] CHECK  (([payment_method]=N'Other' OR [payment_method]=N'MobileMoney' OR [payment_method]=N'Cash'))
GO
ALTER TABLE [dbo].[Fees_payments] CHECK CONSTRAINT [CK_feePayment_method]
GO
ALTER TABLE [dbo].[Notification_recipients]  WITH CHECK ADD  CONSTRAINT [CK_Notification_recipients_Recipient] CHECK  (([parent_id] IS NOT NULL AND [user_id] IS NULL OR [parent_id] IS NULL AND [user_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[Notification_recipients] CHECK CONSTRAINT [CK_Notification_recipients_Recipient]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CK_Notifications_Type] CHECK  (([NotificationType]=N'General' OR [NotificationType]=N'Announcement' OR [NotificationType]=N'Fee' OR [NotificationType]=N'Attendance'))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CK_Notifications_Type]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [CK_Salaries_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [CK_Salaries_Amount]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [CK_Salaries_Month] CHECK  (([Salary_month]>=(1) AND [Salary_month]<=(12)))
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [CK_Salaries_Month]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [CK_Salaries_Stutus] CHECK  (([Payment_Status]=N'Paid' OR [Payment_Status]=N'Unpaid'))
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [CK_Salaries_Stutus]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [CK_Student_Gender] CHECK  (([Gender]=N'Female' OR [Gender]=N'Male'))
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [CK_Student_Gender]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]=N'Staff' OR [Role]=N'Teacher' OR [Role]=N'Manager' OR [Role]=N'Admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
USE [master]
GO
